<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Beginners</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 5%;
            font-family: 'Roboto', sans-serif;
        }
        
        .active {
            background: salmon;
            border: 0;
            padding: 5px;
        }
    </style>
</head>

<body>

    <div id="app">
        <header>
            <img src="https://vuejs.org/images/logo.svg" width="80" alt="">
            <h1 v-text="bilangan"></h1>
            <h3>Form Submit</h3>
            <p><input type="text" placeholder="Nama Kelas" v-on:keyup.enter="submit" v-model="kelasbaru"></p>

            <h3>Daftar Kelas : {{ kelas.length }}</h3>
            <ul>
                <template v-if="kelas.length">
                    <li v-for="(item, index) of kelas">{{ index+1 }} - {{ item }}</li>
                </template>
                <li v-else>Kelas belum tersedia</li>
            </ul>

            <h3>Perulangan (1-5)</h3>
            <ul>
                <li v-for="x in 5">{{ x }}</li>
            </ul>

            <h3>Mencari Bilangan Genap: {{ numbers }}</h3>
            <ul>
                <li v-for="x in cariBilanganGenap(numbers)">{{ x }}</li>
            </ul>
            <p>{{ kelas }}</p>
            <div>
                <label for=""><input type="checkbox" name="" id="" value="React" v-model="kelas"> React</label>
                <label for=""><input type="checkbox" name="" id="" value="Vuejs" v-model="kelas"> Vuejs</label>
                <label for=""><input type="checkbox" name="" id="" value="Angular" v-model="kelas"> Angular</label>
            </div>
            <p>Bilangan ini adalah bilangan {{ infoBilangan }}</p>
            <p>
                <button @click="handleClick">Ditekan</button>
            </p>
            <img :src="gambar" alt="" width="500">
            <p>The Prograssive JavaScript Framework</p>

            <a v-bind:class="{active: menu === 'home'}" href="#" v-on:click.prevent="gantiMenu('home')">Home</button>
            <a v-bind:class="{active: menu === 'about'}" href="#" v-on:click.prevent="gantiMenu('about')">About</button>
            <a v-bind:class="{active: menu === 'blog'}" href="#" v-on:click.prevent="gantiMenu('blog')">Blog</button>
        </header>

        <footer id="footer">
            <p>copyright 2021 | Semangat Pog!</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="main.js"></script>
</body>

</html>